.nav {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  color: #fff;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  list-style: none;
}

.nav li {
  margin-left: 2rem;
  color: aqua;
  font-family: 'Azeret Mono', monospace;

}

.nav a{
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover,
.nav a:active,
.nav a.active{
  color: whitesmoke;
}

.logo{
  font-size: 3rem;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Azeret+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);